/*
Code Author: Mark-Anthony Karam
Host: mark-anthony.ca
*/

@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Muli:300);


h1
{
font-family: 'Oswald', sans-serif;
font-size: 30px;
text-transform: uppercase;
color: #FFF;
}


/* Centres the page (this could be container)*/
.body {
    display:block;
    margin:-10px
    width:100%;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    color: #999;
 background:linear-gradient(to bottom right, #9b59b6, #e74c3c)
}


/* Labels are titles for the text fields. You can use a placeholder instead if you like*/
label 
{
    display:block;
    margin-top:20px;
    letter-spacing:2px;
}

/* Centres the form within the page */
form 
{
    margin:0 auto;
    width:459px;

}

/* Styles the text boxes */
input, textarea, file {
	width:439px;
	height:27px;
	background-color:#efefef;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #dedede;
	padding:10px;
	margin-top:3px;
	font-size:0.9em;
	color:#3a3a3a;
}

	input:focus, textarea:focus {
		border:1px solid #97d6eb;
	}

/* Styles the text area boxes (message field) */	
textarea 
{
	height:213px;
	background-color: #efefef;
}


/* Styles the submit button */
#submit {
	/* background:url(images/submit.png); */
	width:127px;
	height:48px;
	text-align: center;
	/* text-indent:-9999px; */
	border:none;
	margin-top:20px;
	cursor:pointer;
}

/* Styles the submit hover */	
#submit:hover {
	color:#fff;
	background-color: #216182;
	opacity:0.9;
}

/* Styles the cancel button*/	
#cancel {
	/* background:url(images/cancel.png); */
	width:127px;
	height:28px;
	text-align: center;
	/* text-indent:-9999px; */
	border:none;
	margin-top:20px;
	cursor:pointer;
}

/* Styles the cancel hover */
#cancel:hover {
	color:#fff;
	background-color: #000;
	opacity:0.9;
}
